#Ignored folders
auto/*
.git/*
trash/*
poglavja/auto/*
images/sc_web_orig/*
#Ignored file types
*.log
*.out
*.aux
*.toc
*.dvi
*.lof
*.txt
*.lot

#Other
.projectile
.#diploma.tex
.#flycheck_diploma.tex
.#flycheck_vsebina.tex
.directory
diploma.tdo
dispozicija.tex
porocilo.pdf
diploma-fnm-example.tex
_region_.tex
.*
/SP_za_učenje_prog-Gregor_Nemec-v0001.pdf
/_region_.pdf
/vsebina_backup.tex
